name: "ci"
on:
  push:
    branches:
      - "**"
    tags:
      - "!**"
  pull_request:
    branches:
      - master
      - develop

jobs:
  test:
    if: ${{ ! startsWith(github.event.head_commit.message, 'release:') && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) }}
    uses: ./.github/workflows/test.yml
    permissions:
      contents: write
  lint-and-format:
    if: ${{ ! startsWith(github.event.head_commit.message, 'release:') && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository) }}
    uses: ./.github/workflows/lint_and_format_style.yml
    permissions:
      contents: write
  release:
    if: ${{ startsWith(github.event.head_commit.message, 'release:') && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    uses: ./.github/workflows/changeset_release.yml
    permissions:
      contents: write
      packages: write
