name: "ci"
on:
  push:
    branches:
      - "**"
    tags:
      - "!**"
  pull_request:
    branches:
      - master
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    if: >-
      ${{
        (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository) ||
        (github.event_name == 'push' && !startsWith(github.event.head_commit.message, 'release:'))
      }}
    uses: ./.github/workflows/test.yml
    permissions:
      contents: write
      pull-requests: write
  lint-and-format:
    if: >-
      ${{
        (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository) ||
        (github.event_name == 'push' && !startsWith(github.event.head_commit.message, 'release:'))
      }}
    uses: ./.github/workflows/lint_and_format_style.yml
    permissions:
      contents: write
  release:
    if: >-
      ${{
        github.event_name == 'push' &&
        github.ref == 'refs/heads/master' &&
        startsWith(github.event.head_commit.message, 'release:')
      }}
    uses: ./.github/workflows/publish.yml
    permissions:
      contents: write
      id-token: write
