name: "ci"
on:
  push:
    branches:
      - "**"
    tags:
      - "!**"
  pull_request:
    branches:
      - master
      - develop

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    permissions:
      contents: write
      pull-requests: write
  lint-and-format:
    uses: ./.github/workflows/lint_and_format_style.yml
    permissions:
      contents: write
  dependency-review:
    if: ${{ github.event_name == 'pull_request' }}
    uses: ./.github/workflows/dependency_review.yml
    permissions:
      contents: read
