name: Lint and format code style issues

on: workflow_call

permissions:
  contents: write

jobs:
  lint-and-format:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.head_ref }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install
        
      - name: Lint Code
        run: pnpm run lint
    
      - name: Format Code
        run: pnpm run format

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Fix linting and formatting

      - name: Run prettier
        run: pnpm run format:check

      - name: Run tsc
        run: pnpm run ts:check
